<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Uthabiti Africa | Forgot Password</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Top script start -->
  <%- include('../partials/top_script'); %>
    <!-- / Top script end -->
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="back-link back-backend">
          <a href="https://www.uthabitiafrica.org/" class="btn btn-primary">Close Portal</a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
      <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
        <div class="text-center ps-recovered">
          <h3>Forgot Password</h3>
          <p>Please fill the form to recover your password</p>
        </div>

            <div class="hpanel">
              <div class="panel-body poss-recover">
                <form action="/auth/forgot-password" method="POST">
                  <div class="form-group">
                    <label class="control-label" for="username">Email</label>
                    <input type="email" placeholder="example@gmail.com" title="Please enter you email adress" required
                      name="email" id="userInput" class="form-control">
                  </div>

                  <button class="btn btn-success btn-block" type="submit" id="submitButton">Reset password</button>
                  <button class="btn btn-success btn-block" type="submit" disabled style="display: none;" id="defaultButton">Submitting ...</button>

                  <div class="login-btn-inner">
                    <div class="inline-remember-me">
                      <a href="/auth/login" class="pull-left" >Login</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
    </div>
    <div class="row">
      <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center login-footer">
        <p>Copyright &copy; 2025 <a href="https://uhrtur.co.ke">Uhrtur Group LTD</a> All rights reserved.</p>
      </div>
    </div>
  </div>

  <!-- Bottom script start -->
  <%- include('../partials/bottom_script'); %>
    <!-- / Bottom script end -->

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const userInput = document.getElementById('userInput');
        const submitButton = document.getElementById('submitButton');
        const defaultButton = document.getElementById('defaultButton');
        const form = document.forms[0]; // Assuming there's one form on the page.


        submitButton.addEventListener('click', (e) => {
          e.preventDefault(); // Prevent form submission if invalid.
          const userValue = userInput.value.trim();
          
          if (userValue) {
            // Toggle button visibility.
            submitButton.style.display = 'none';
            defaultButton.style.display = 'block';

            // Optionally validate the form before submission.
            form.submit();
          } else {
            // alert('Please fill in all required fields.');
          }
        });
      });
    </script>
</body>

</html>