<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul class="mobile-menu-nav">

                            <li><a data-toggle="collapse" data-target="#dashboard" href="/portal/dashboard">Dashboard <span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul class="collapse dropdown-header-top">
                                    <li><a href="/portal/dashboard">Dashboard</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#membership" href="#">Membership <span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="membership" class="collapse dropdown-header-top">
                                    <li><a href="/portal/members">Members</a></li>
                                    <li><a href="/portal/approval">Approval</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#membership" href="#">Institution <span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="institution" class="collapse dropdown-header-top">
                                    <li><a href="/portal/add-institution">Add</a></li>
                                    <li><a href="/portal/institutions">Institutions</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#caregiver" href="#">Caregiver<span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="caregiver" class="collapse dropdown-header-top">
                                    <li><a href="/portal/caregiver">Caregiver</a></li>
                                    <li><a href="/portal/add-caregiver">Add Caregiver</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#beneficiary" href="#">Beneficiaries<span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="beneficiary" class="collapse dropdown-header-top">
                                    <li><a href="/portal/add-beneficiary">Add Beneficiary</a></li>
                                    <li><a href="/portal/beneficiaries">Beneficiaries</a></li>
                                </ul>
                            </li>
                            <li><a data-toggle="collapse" data-target="#sacco" href="#">Beneficiaries<span
                                        class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                <ul id="sacco" class="collapse dropdown-header-top">
                                    <li><a href="/portal/sacco-member">Members</a></li>
                                    <li><a href="/portal/contributions">Contributions</a></li>
                                    <li><a href="/portal/loans">Loans</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>