<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Uthabiti Africa | Portal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="icon" href="https://www.uthabitiafrica.org/wp-content/uploads/2023/03/favicon-150x150.jpg" sizes="32x32">
    <link rel="icon" href="https://www.uthabitiafrica.org/wp-content/uploads/2023/03/favicon-300x300.jpg"
        sizes="192x192">
    <link rel="apple-touch-icon" href="https://www.uthabitiafrica.org/wp-content/uploads/2023/03/favicon-300x300.jpg">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="back-link back-backend">
                    <a href="https://www.uthabitiafrica.org/" class="btn btn-primary">Close Portal</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12"></div>
            <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                <div class="text-center custom-login">
                    <h3>Welcome to Uthabiti Africa Portal</h3>
                    <p>Connecting Home-care owners, Daycare owners, caregivers, and communities to create safe and
                        thriving spaces for children. </p>
                </div>
                <div class="hpanel">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="hpanel responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-box">
                                        <h2 class="m-b-xs">Facility Owner</h2>
                                        <p class="font-bold text-success">Join</p>
                                        <div class="m icon-box">
                                            <i class="fa fa-square" aria-hidden="true"></i>
                                        </div>
                                        <p class="small mg-t-box">
                                            Has a Home-based, Center-based or School-based Daycare.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="hpanel responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-box">
                                        <h2 class="m-b-xs">Individual Member</h2>
                                        <p class="font-bold text-success">Join</p>
                                        <div class="m icon-box">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                        <p class="small mg-t-box">
                                            Has no Daycare facility but wants to join Uthabiti Africa Network
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="hpanel responsive-mg-b-30">
                                <div class="panel-body">
                                    <div class="text-center content-box">
                                        <h2 class="m-b-xs">Sacco Member</h2>
                                        <p class="font-bold text-success">Join</p>
                                        <div class="m icon-box">
                                            <i class="fa fa-briefcase" aria-hidden="true"></i>
                                        </div>
                                        <p class="small mg-t-box">
                                            Wants to join Uthabiti SACCO Membership.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mg-t-15">
                      <div class="text-center">
                          <a href="/auth/register" class="btn btn-success loginbtn"><i class="fa fa-sign-in small-icon"></i> Register</a>
                          <a href="/auth/login" class="btn btn-success loginbtn"><i class="fa fa-unlock small-icon"></i> Login</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mg-t-15">
            <div class="col-md-12 text-center">
                <p>Copyright &copy; 2025 <a href="https://uhrtur.co.ke">Uhrtur Group LTD</a> All rights reserved.</p>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script src="/js/vendor/jquery-1.11.3.min.js"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- wow JS
		============================================ -->
    <script src="/js/wow.min.js"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="/js/jquery-price-slider.js"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="/js/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- sticky JS
		============================================ -->
    <script src="/js/jquery.sticky.js"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="/js/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
		============================================ -->
    <script src="/js/metisMenu/metisMenu.min.js"></script>
    <script src="/js/metisMenu/metisMenu-active.js"></script>
    <!-- tab JS
		============================================ -->
    <script src="/js/tab.js"></script>
    <!-- icheck JS
		============================================ -->
    <script src="/js/icheck/icheck.min.js"></script>
    <script src="/js/icheck/icheck-active.js"></script>
    <!-- plugins JS
		============================================ -->
    <script src="/js/plugins.js"></script>
    <!-- main JS
		============================================ -->
    <script src="/js/main.js"></script>
</body>

</html>